@import url(http://fonts.googleapis.com/css?family=Abril+Fatface)

$font-family: Avenir , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif
$logo-color: #6F6F6F
$link-color: #308ca8
$body-background-color: #F5F5F5 
$content-max-width: 1024px

body 
  font-family: $font-family
  background-color: $body-background-color

a
  color: $link-color
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
    color: darken($link-color, 15%)

header 
  padding: 10px 0
  border-bottom: 1px solid #cccccc
  width: 100%
  text-align: center
  background-color: #FFFFFF
  a.logo 
    font-size: 20px
    font-family: "Abril Fatface", serif
    color: $logo-color
    border: none

    text-decoration: none
    &:hover
      color: darken($logo-color,20%)


article + article
  margin-top: 50px

  
.content 
  max-width: $content-max-width
  text-align:left
  margin-left: auto
  margin-right: auto

body > .content
  padding-left: 10px
  padding-right: 10px

img
  max-width: 100%
ul
  padding: 5px 0 5px 20px

