@import url(http://fonts.googleapis.com/css?family=Abril+Fatface)

$font-family: Avenir , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif
$article-main-font-size: 16px
$logo-color: #6F6F6F

body 
  font-family: $font-family

header 
  padding: 10px 0
  border-bottom: 1px solid #cccccc
  width: 100%
  text-align: center
  a.logo 
    font-size: 20px
    font-family: "Abril Fatface", serif
    color: $logo-color
    border: none

    text-decoration: none
    &:hover
      color: darken($logo-color,20%)


article 
  h1 
    font-size: 28px
    margin-bottom: 0px
    color: rgb(62, 104, 173)
  time 
    display: block
    color: #acacac
    border-left: 2px solid #cccccc
    font-size: 12px
    padding-left: 14px
    margin-left: 2px
    margin-bottom: 20px
  p 
    margin: 0 0 10px 0
    font-size: $article-main-font-size
    line-height: $article-main-font-size + 4px
  
.content 
  max-width: 1024px
  text-align:left
  margin-left: auto
  margin-right: auto


footer 
  margin-top: 60px
  h2 
    margin-bottom: 10px
  p 
    margin: 0
  img.user-image
    display: inline-block
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: top
    margin-right: 30px
  .user-bio
    display:inline-block
    vertical-align: top
    ul
      padding: 0 00px
      margin: 0 20px
      list-style-type: square


pre 
  code.hljs
    display: block
    background: #f6f6f6 none repeat scroll 0% 0%
    color: #4D4D4C
    font-family: Menlo,Monaco,Consolas,monospace
    line-height: 1.5
    border: 1px solid #CCC
    padding: 10px

footer
  padding-bottom: 20px
