doctype html
html(lang="ja")
  head
    meta(charset="utf-8")

    meta(name="viewport", content="initial-scale=1.0")
    link(rel="stylesheet",href="/lib/normalize.css",type="text/css")
    link(rel="stylesheet",href="/css/main.css",type="text/css")
    title minamorl.com
  body
    header
      .content
        a(class="logo",href="/") minamorl.com

    .content
      article
        h1= title
        time= timestamp
        div!= contents

      footer
        .articles
          h2 articles
          ul
            for filename in dir
              li 
                a(href="articles/"+filename)= filename
        .log
          h2 log
          p デザインの調整 - <time>2015-07-30 17:42:24<time>
          p viewportの指定とか - <time>2015-07-27 22:01:10</time>
          p 適当にドメインとってサーバ建ててCNAMEとか設定してnginx入れてpost-receive hook使ってgit pushしたら自動的に中身を更新するようにした。 - <time>2015-07-27 19:18:10</time>
        .bio
          h2 bio
          p name: minamorl
          p twitter: 
            a(href="https://twitter.com/minamorl/") @minamorl
          ul
            li ドール(azone)
            li 熱帯魚の飼育・多肉植物栽培などを中心に生活している
            li 医薬品検索エンジンChlorixの開発に携わった
